homeassistant:
  name: Home
  external_url: !secret external_url
  #internal_url: http://assistlocal
  internal_url: http://10.0.1.22:8123
  country: US
  elevation: !secret elevation
  unit_system: imperial
  latitude: !secret home_lat
  longitude: !secret home_long
  time_zone: America/Chicago
  customize: !include customize.yaml
  packages:
    alexa: !include packages/alexa.yaml
    #aarlo: !include packages/aarlo.yaml
    aquarium: !include packages/aquarium.yaml
    #christmas: !include packages/christmas.yaml
    # covid: !include packages/covid.yaml
    frigate: !include packages/frigate.yaml
    door_otp: !include packages/door_otp.yaml
    garage_door: !include packages/garage_door.yaml
    gate: !include packages/mom_and_dad_gate.yaml
    grill: !include packages/grill.yaml
    blinds: !include packages/blinds.yaml
    hass_update_check: !include packages/hass_update_check.yaml
    smoke_alarms: !include packages/smoke_alarms.yaml
    magic_cube: !include packages/magic_cube.yaml
    irrigation: !include packages/irrigation.yaml
    leak_detection: !include packages/leak_detection.yaml
    reminders: !include packages/reminders.yaml
    photo_frames: !include packages/photo_frames.yaml
    timers: !include packages/timers.yaml
    ups_monitoring: !include packages/ups_monitor.yaml
    vacuum: !include packages/vacuum.yaml
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 10.0.1.0/24
  allowlist_external_dirs:
    - "/tmp"
    - "/config"
    - "/tmp"
  allowlist_external_urls:
    - "http://localhost:8123/api/frigate/notifications"
  media_dirs:
    audio: media/audio/
    video: media/video/
    images: media/images/

alexa: !include alexa.yaml

automation: !include automations.yaml

backup:

binary_sensor: !include binary_sensor.yaml

camera: !include camera.yaml

# circadian_lighting:
#   # Set manual sunrise/sunset for aquarium brightness
#   sunrise_time: "09:00:00"
#   sunset_time: "20:00:00"
#   interval: 300
#   transition: 10

command_line: !include command_line.yaml

config:

energy:

folder_watcher:
  - folder: '/tmp'
    patterns:
      - "database.sqlite"
  - folder: '/tmp'
    patterns:
      - "config.yml"

monitor_docker:
  #scan_interval: 60
  monitored_conditions:
    - state
  #switchname: 'docker_{name}'
  rename:
    adguard: "AdGuard"
    appdaemon: "Appdaemon"
    configurator: "VSCode"
    esphome: "ESPHome"
    grafana: "Grafana"
    influxdb: "InfluxDB"
    librespeed: "Speedtest"
    mariadb: "MariaDB"
    mosquitto: "Mosquitto"
    nodered: "Node-RED"
    plex: "Plex"
    portainer: "Portainer"
    sqliteweb: "SQLite Web"
    thermopro_mqtt: "Grill Monitor"
    thermostat_api_server: "Thermostat API Server"
    vscode: "VSCode"
    watchtower: "Watchtower"
    zwavejs: "Zwave-JS"
    vrs: "Virtual Radar Server"
    github-runner-1: "Github Runner 1"
    github-runner-2: "Github Runner 2"
    codeproject: "CodeProject.AI"

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js

group: !include group.yaml

google_assistant: !include google_home.yaml

history:

homekit: !include homekit.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.18.0.0/24 # Nginx Proxy Manager
    - 10.0.1.22/32 # NUC
  server_port: 8123

ifttt:
  key: !secret IFTTT

influxdb:
  host: 127.0.0.1
  exclude:
    entities:
      - binary_sensor.internet_reachability
      - binary_sensor.iss
      - sensor.kitchen_timer_countdown
      - sensor.irrigation_time_remaining
      - sensor.last_boot
      - sensor.mail_updated
      - sensor.moon
      - sensor.thermostat_last_communication
    domains:
      - automation
      - alarm_panel
      - camera
      - group
      - media_player
      - notify
      - scene
      - script
      - shell_command
      - sun
      - zone
      - zwave

input_boolean: !include input_boolean.yaml

input_datetime: !include input_datetime.yaml

input_select: !include input_select.yaml

intent_script: !include intent_script.yaml

input_text: !include input_text.yaml

# ios:
#   push:
#     categories:
#       - name: Confirm
#         identifier: "confirm"
#         actions:
#           - identifier: "confirm_unlock"
#             title: "Confirm"
#           - identifier: "ignore_unlock"
#             title: "Ignore"

light:
  - platform: limitlessled
    bridges:
      - host: 10.0.0.47
        version: 5
        port: 8899
        groups:
          #big bulbs
          - number: 1
            type: rgbw
            name: Front Porch Halloween
            fade: on
          - number: 2
            type: rgbw
            name: plant_light_corner
            fade: on
  - platform: group
    name: Kitchen Lights
    entities:
      - light.kitchen_can_lights
      - light.kitchen_table_light
      - light.kitchen_sink_light
  - platform: group
    name: Master Bedroom Lamps
    entities:
      - light.andrew_nightstand_lamp
      - light.bethany_nightstand_lamp
  - platform: group
    name: Living Room Lamps
    entities:
      - light.living_room_lamp
      - light.living_room_lamp_2
  - platform: group
    name: Back Bedroom Lamps
    entities:
      - light.back_bedroom_nightstand_lamp
      - light.back_bedroom_dresser_lamp
  - platform: group
    name: Front Porch Lights
    entities:
      - light.front_porch_left
      - light.front_porch_right
  - platform: group
    name: Front Sconces
    entities:
      - light.front_sconce_left
      - light.front_sconce_right
  - platform: group
    name: Front House Lights
    entities:
      - light.front_sconces
      - light.front_porch_lights

lock:
  - platform: template
    name: All Doors
    value_template: "{{ is_state('lock.front_door','locked') and is_state('lock.back_door','locked') and is_state('lock.garage_exterior_door','locked') }}"
    lock:
      - service: lock.lock
        entity_id: 
          - lock.front_door
          - lock.back_door
          - lock.garage_exterior_door
    unlock:
      - service: lock.unlock
        entity_id: 
          - lock.front_door
          - lock.back_door
          - lock.garage_exterior_door

logbook:

logger:
  #default: debug
  default: warn
  logs:
    #homeassistant.components.homekit: debug
    #pyhap: debug
    #homeassistant.core: warn
    #homeassistant.components.media_player: debug
    #custom_components.alexa_media: debug
    # Start ZHA Debugging
    # asyncio: debug
    homeassistant.components.tts: debug
    homeassistant.components.pico_tts: debug

    #zigpy: debug
    # bellows: debug
    # zigpy_xbee: debug
    # zigpy_deconz: debug
    # zigpy_zigate: debug
    # zigpy_cc: debug
    # bellows.zigbee.application: debug
    # bellows.ezsp: debug
    # zigpy_deconz.zigbee.application: debug
    # zigpy_deconz.api: debug
    # zigpy_xbee.ap: debug
    # zigpy_znp: debug
    # zhaquirks: debug
    # End ZHA Debugging
    # custom_components.xiaomi_cloud_map_extractor: debug
    #custom_components.alexa_media: debug
    #custom_components.localtuya: debug
    #homeassistant.components.webhook: debug
    #custom_components.mail_and_packages: debug
    # custom_components.aarlo: debug
    # custom_components.aarlo.alarm_control_panel: debug
    # custom_components.aarlo.binary_sensor: debug
    # custom_components.aarlo.camera: debug
    # custom_components.aarlo.light: debug
    # custom_components.aarlo.media_player: debug
    # custom_components.aarlo.sensor: debug
    custom_components.webrtc: debug
    # pyaarlo: debug
    #custom_components.bhyve: debug
    #pybhyve: debug
  filters:
    homeassistant.core:
      - ".*camera.xiaomi_cloud_map_extractor.*" # Roborock map
      - "camera.*snapshot.*"
      - "sensor.*_power"
      - "sensor.*_daily_energy.*"
      - "sensor.phase.*_voltage.*"
      - "sensor.load.*"
      - "binary_sensor.internet_reachability"
      - ".*mqtt_automation_listener.*"

lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/weather-card/weather-card.js
      type: module
    - url: /hacsfiles/lovelace-slider-entity-row/slider-entity-row.js
      type: module
    - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
      type: module
    - url: /hacsfiles/simple-thermostat/simple-thermostat.js
      type: module
    #- url: /hacsfiles/custom-header/custom-header.js
    #  type: module
    # - url: /hacsfiles/favicon-counter/favicon-counter.js
    #   type: module
    - url: /hacsfiles/vertical-stack-in-card/vertical-stack-in-card.js
      type: module
    - url: /hacsfiles/zha-network-visualization-card/zha-network-visualization-card.js
      type: module
    - url: /hacsfiles/lovelace-card-templater/lovelace-card-templater.js
      type: module
    - url: /hacsfiles/lovelace-auto-entities/auto-entities.js
      type: module
    - url: /hacsfiles/bignumber-card/bignumber-card.js
      type: module
    # - url: /hacsfiles/ozw-network-visualization-card/ozw-network-visualization-card.js
    #   type: module
    - url: /hacsfiles/lovelace-text-input-row/lovelace-text-input-row.js
      type: module
    - url: /hacsfiles/uptime-card/uptime-card.js
      type: module
    - url: /hacsfiles/lovelace-xiaomi-vacuum-map-card/xiaomi-vacuum-map-card.js
      type: module
    - url: /hacsfiles/flipdown-timer-card/flipdown-timer-card.js
      type: module
    - url: /hacsfiles/lovelace-fold-entity-row/fold-entity-row.js
      type: module
    - url: /hacsfiles/numberbox-card/numberbox-card.js
      type: module
    - url: /hacsfiles/lovelace-card-tools/card-tools.js
      type: module
    - url: /hacsfiles/lovelace-wallpanel/wallpanel.js
      type: module
    - url: /hacsfiles/lovelace-mushroom/mushroom.js
      type: module
    - url: /hacsfiles/frigate-hass-card/frigate-hass-card.js
      type: module

map:

media_source:

media_extractor:

mobile_app:

mqtt: !include mqtt.yaml

my:

notify:
  # - platform: pushbullet
  #   api_key: !secret pushbullet_key
  #   name: pushbullet

  - platform: html5
    name: html5
    vapid_pub_key: !secret vapid_pub_key
    vapid_prv_key: !secret vapid_prv_key
    vapid_email: !secret vapid_email

  - platform: signal_messenger
    name: signal_self
    url: "http://localhost:8800" # the URL where the Signal Messenger REST API is listening
    number: !secret signal_phone
    recipients: # one or more recipients
      - !secret signal_phone_andrew

  - platform: signal_messenger
    name: signal_bvst
    url: "http://localhost:8800" # the URL where the Signal Messenger REST API is listening
    number: !secret signal_phone
    recipients: # one or more recipients
      - !secret signal_group_bvst

  - platform: signal_messenger
    name: signal_bvst_ins
    url: "http://localhost:8800" # the URL where the Signal Messenger REST API is listening
    number: !secret signal_phone
    recipients: # one or more recipients
      - !secret signal_group_bvst_ins

  - platform: signal_messenger
    name: signal_adsb
    url: "http://localhost:8800" # the URL where the Signal Messenger REST API is listening
    number: !secret signal_phone
    recipients: # one or more recipients
      - !secret signal_group_adsb

  - platform: signal_messenger
    name: signal_frigate
    url: "http://localhost:8800" # the URL where the Signal Messenger REST API is listening
    number: !secret signal_phone
    recipients: # one or more recipients
      - !secret signal_group_frigate

  # - name: gsm_message
  #   platform: rest
  #   resource: http://127.0.0.1:9999/send_message
  #   method: POST_JSON
  #   data:
  #     priority: "{{ data.priority }}"

  - name: cellular_message
    platform: rest
    resource: http://127.0.0.1:9998/send_message
    method: POST_JSON
    data:
      priority: "{{ data.priority }}"

panel_iframe:
  vscode:
    title: VS Code
    icon: mdi:wrench
    url: !secret vscode_url
  plane_tracking:
    title: "Plane Tracking"
    icon: mdi:airplane
    url: !secret plane
  grafana:
    title: "Grafana"
    icon: mdi:chart-areaspline
    url: !secret grafana
  esphome:
    title: "ESPHome"
    icon: mdi:memory
    url: !secret esphome
  portainer:
    title: "Portainer"
    icon: mdi:ferry
    url: !secret portainer
  nodered:
    title: "Node-Red"
    icon: mdi:sitemap
    url: !secret nodered

plant:
  garden:
    sensors:
      moisture: sensor.miflora_moisture
      temperature: sensor.miflora_temperature
      conductivity: sensor.miflora_soil_conductivity
      brightness: sensor.miflora_illuminance
    min_moisture: 20
    max_moisture: 100

python_script:

readme:

recorder:
  db_url: mysql://homeassistant:homeassistant@127.0.0.1/homeassistant?charset=utf8
  purge_keep_days: 365
  exclude:
    entities:
      - automation.update_readme
      - automation.update_usps_mail_camera_path_on_hass_restart
      - automation.update_utilities_cost
      - automation.sync_cloudflare_cname_records
      - binary_sensor.gate_heading_comparison
      - binary_sensor.iss
      - script.zen30_led_color_change
      - sensor.aarlo_signal_strength_office
      - sensor.kitchen_timer_countdown
      - sensor.kitchen_next_timer
      - sensor.irrigation_time_remaining
      - sensor.last_boot
      - sensor.load_1m
      - sensor.load_5m
      - sensor.load_15m
      - sensor.mail_updated
      - sensor.moon
      - sensor.network_in_eno1
      - sensor.network_out_eno1
      - sensor.roborock_s4_last_cleaned
      - sensor.circadian_values
      - sensor.thermostat_last_communication
      - sensor.weasel_last_seen
      - sensor.nuc_nuc_last_seen
      - sensor.it_c02xrkvwjg5j_last_seen
      - sensor.pixel_2_xl_last_seen
      - sensor.aneischvps_last_seen
    domains:
      #- automation
      #- alarm_panel
      - camera
      - media_player
      - notify
      - scene
      #- script
      #- shell_command
      - sun
      - zone
  include:
    entities:
      - media_player.living_room_tv
      - media_player.kitchen_photo_frame
      - media_player.office_photo_frame

rest_command: !include rest_command.yaml

# samsungtv:
#   - host: 10.0.1.51
#     name: Living Room TV
#     turn_on_action:
#       - service: wake_on_lan.send_magic_packet
#         data:
#           mac: 44:5c:e9:2e:51:0a

scene: !include scene.yaml

script: !include scripts.yaml

#setter:

sensor: !include sensors.yaml

shell_command: !include shell_command.yaml

sonoff:
  username: !secret ewelink_user
  password: !secret ewelink_pass
  mode: local
  reload: always

stream:

sun:

switch: !include switches.yaml

system_health:

template: !include template.yaml

tts:
  - platform: picotts
  - platform: microsoft
    api_key: !secret AzureSpeechKey
    region: centralus
    gender: Male
    type: GuyNeural

wemo:
  discovery: false
  static:
    - 10.0.1.48

utility_meter:
  electric_utilities_monthly:
    source: sensor.total_daily_energy
    name: Monthly Energy
    cron: "0 22 L * *"

zha:
  #enable_quirks: true
  #custom_quirks_path: /config/custom_zha_quirks/
  zigpy_config:
    network:
      channel: 11
      channels: [11]
      pan_id: 0x1A62
      extended_pan_id: "DD:DD:DD:DD:DD:DD:DD:DD"

zone:
  - name: Bethany Work
    latitude: !secret bethany_work_lat
    longitude: !secret bethany_work_long
    radius: 200
    icon: mdi:worker

  - name: Dan and Marilyn's
    latitude: !secret dan_lat
    longitude: !secret dan_long
    radius: 500
    icon: mdi:home-variant

  - name: Wayne and Lisa's
    latitude: !secret wayne_lat
    longitude: !secret wanye_long
    radius: 500
    icon: mdi:home-variant

  - name: Michael and Mandy's
    latitude: !secret michael_lat
    longitude: !secret michael_long
    radius: 500
    icon: mdi:home-variant

  - name: Kimberly and Travis'
    latitude: !secret travis_lat
    longitude: !secret travis_long
    radius: 500
    icon: mdi:home-variant
