substitutions:
  name: desk_led
  friendly_name: "Desk LED"

esphome:
  name: ${name}

esp8266:
  # framework:
  #   version: 2.7.4
  board: d1_mini

wifi:
  ssid: SSID
  password: WPA_KEY

  # # Optional manual IP
  # manual_ip:
  #   static_ip: 10.0.0.7
  #   gateway: 10.0.1.1
  #   subnet: 255.255.255.0

<<: !include common.yaml

light:
  - platform: neopixelbus
    variant: WS2812
    pin: D4
    num_leds: 7
    type: GRB
    name: "${friendly_name}"
    effects:
      - pulse:
          name: "Fast Pulse"
          # transition_length: 1s      # defaults to 1s
          update_interval: 0.5s
      - addressable_scan:
      - addressable_lambda:
          name: Custom Scan
          update_interval: 75ms
          lambda: |-
            static int step = 0;
            
            if (initial_run) {
              step = 0;
              it.all() = Color::BLACK;
            }

            // Turn off the previous LED
            if (step == 0) {
              it[it.size() - 1] = Color::BLACK;
            } else {
              it[step - 1] = Color::BLACK;
            }

            // Light up the current LED
            it[step] = current_color;

            // Advance the step
            step++;
            if (step >= it.size()) {
              step = 0;
            }
switch:
  - platform: restart
    id: restart_device
    name: "${friendly_name} Restart"