substitutions:
  name: living_room_speakers
  friendly_name: "Living Room Speakers"
  carrier: 38kHz

esphome:
  name: ${name}
  platform: ESP8266
  board: d1_mini

<<: !include common.yaml

remote_transmitter:
  pin:
    number: D3
    inverted: False
  carrier_duty_percent: 50%
  
# remote_receiver:
#   pin: 
#     number: D4
#     inverted: yes
#     mode: INPUT_PULLUP
#   dump: all
  
switch:
  - platform: restart
    id: restart_device
    name: "${friendly_name} Restart"

api:
  reboot_timeout: 0s
  encryption:
    key: !secret encryption_key
  services:
    # Help from https://github.com/aamarioneta/IRDenon
    # See also https://github.com/aneisch/home-assistant-config/blob/master/extras/denon%20master%20ir%20hex.xls
    # And https://github.com/aneisch/home-assistant-config/blob/master/extras/scripts/convert_pronto_codes.py
    - service: power_on
      then:
        - remote_transmitter.transmit_raw:
            # DENON 221C
            code: [282, -786, 252, -1820, 252, -810, 280, -756, 250, -810, 250, -1794, 280, -766, 270, -808, 252, -784, 250, -810, 226, -1818, 280, -1800, 272, -1818, 278, -786, 250, -812, 222, -43890, 296, -784, 250, -1822, 276, -788, 222, -816, 246, -790, 246, -840, 220, -1826, 246, -1828, 244, -1854, 244, -1826, 246, -816, 244, -792, 244, -792, 244, -1854, 244, -1826, 246, -43908, 276, -764, 246, -1848, 248, -790, 246, -816, 220, -840, 220, -1826, 246, -816, 244, -792, 246, -790, 246, -816, 246, -1826, 246, -1854, 242, -1830, 246, -790, 244, -818, 244]
            carrier_frequency: ${carrier}

    - service: power_off
      then:
        - remote_transmitter.transmit_raw:
            # DENON 211C
            code: [282, -784, 252, -1800, 272, -810, 252, -786, 250, -810, 250, -786, 252, -1800, 272, -808, 252, -784, 252, -808, 226, -1818, 280, -1800, 298, -1794, 278, -786, 274, -788, 222, -43890, 296, -786, 250, -1822, 250, -814, 222, -840, 222, -790, 246, -1852, 244, -792, 246, -1828, 244, -1852, 246, -1826, 246, -818, 242, -794, 244, -790, 246, -1854, 244, -1826, 246, -43910, 276, -764, 246, -1850, 248, -790, 246, -814, 220, -818, 244, -790, 246, -1854, 244, -792, 246, -792, 244, -818, 244, -1826, 246, -1854, 242, -1830, 244, -790, 246, -816, 244]
            carrier_frequency: ${carrier}

    - service: mute
      then:
        - remote_transmitter.transmit_raw:
            # DENON 203C
            code: [250, -788, 272, -1822, 250, -810, 250, -788, 248, -814, 220, -814, 246, -790, 246, -814, 246, -790, 246, -1852, 220, -1852, 246, -1828, 246, -1852, 244, -792, 246, -792, 244, -43910, 250, -812, 246, -1802, 270, -814, 220, -816, 246, -792, 244, -1852, 244, -1828, 246, -1828, 244, -1852, 246, -790, 246, -814, 220, -816, 246, -790, 244, -1852, 244, -1828, 246, -43886, 274, -788, 246, -1850, 246, -790, 246, -792, 244, -814, 246, -790, 246, -814, 244, -792, 246, -790, 244, -1852, 246, -1826, 246, -1850, 220, -1852, 246, -790, 246, -816, 244]
            carrier_frequency: ${carrier}

    - service: volume_up
      then:
        - remote_transmitter.transmit_raw:
            # DENON 223C
            code: [258, -810, 280, -1770, 272, -810, 278, -756, 250, -810, 226, -1816, 282, -786, 250, -808, 254, -784, 252, -1818, 254, -1818, 306, -1796, 276, -1820, 250, -786, 274, -764, 246, -43910, 276, -786, 248, -1822, 274, -766, 244, -840, 222, -790, 246, -840, 220, -1828, 244, -1828, 244, -1878, 220, -790, 246, -840, 218, -816, 222, -790, 244, -1878, 220, -1828, 246, -43908, 276, -762, 248, -1848, 248, -790, 246, -814, 220, -840, 222, -1826, 246, -840, 220, -816, 222, -792, 244, -1876, 222, -1826, 246, -1878, 218, -1854, 220, -790, 246, -840, 220]
            carrier_frequency: ${carrier}
            repeat:
              times: 2

    - service: volume_down
      then:
        - remote_transmitter.transmit_raw:
            # DENON 213C
            code: [260, -810, 280, -1770, 274, -810, 280, -754, 280, -780, 226, -810, 278, -1774, 274, -808, 252, -784, 278, -1790, 256, -1816, 308, -1774, 298, -1820, 250, -788, 274, -764, 246, -43888, 298, -788, 246, -1822, 250, -788, 246, -840, 220, -790, 246, -1876, 220, -816, 220, -1828, 244, -1878, 220, -790, 246, -840, 218, -818, 220, -790, 246, -1876, 220, -1828, 246, -43908, 276, -764, 246, -1850, 246, -814, 222, -814, 220, -840, 220, -790, 246, -1876, 220, -816, 222, -790, 244, -1878, 220, -1828, 246, -1876, 218, -1854, 222, -790, 244, -840, 220]
            carrier_frequency: ${carrier}
            repeat:
              times: 2

    - service: input_chromecast
      then:
        - remote_transmitter.transmit_raw:
            # Input DVD
            # DENON 231C
            code: [276, -786, 250, -1822, 250, -810, 250, -788, 246, -814, 244, -1828, 246, -1826, 246, -814, 246, -790, 246, -816, 220, -1852, 246, -1828, 246, -1852, 244, -792, 246, -814, 222, -43910, 250, -812, 246, -1826, 248, -814, 222, -816, 246, -790, 244, -816, 244, -790, 246, -1826, 246, -1852, 246, -1828, 246, -814, 222, -814, 248, -790, 244, -1852, 244, -1828, 246, -43886, 274, -788, 248, -1848, 246, -790, 246, -814, 220, -816, 246, -1826, 246, -1852, 244, -790, 248, -790, 246, -814, 246, -1826, 246, -1852, 220, -1852, 246, -790, 246, -816, 244]
            carrier_frequency: ${carrier}

    - service: input_xbox
      then:
        - remote_transmitter.transmit_raw:
            # Input TV
            # DENON 224C
            code: [248, -786, 274, -1822, 250, -810, 250, -788, 248, -814, 244, -1828, 248, -790, 244, -816, 246, -1826, 246, -814, 220, -816, 246, -1826, 246, -1852, 244, -792, 246, -792, 244, -43890, 270, -812, 246, -1804, 270, -790, 246, -814, 246, -790, 244, -816, 244, -1828, 246, -1828, 244, -816, 246, -1828, 246, -1852, 220, -816, 246, -790, 246, -1850, 244, -1828, 246, -43888, 272, -788, 246, -1828, 268, -790, 246, -792, 244, -814, 246, -1828, 246, -814, 244, -792, 246, -1826, 246, -814, 246, -792, 246, -1852, 220, -1852, 246, -790, 244, -816, 244]
            carrier_frequency: ${carrier}

    - service: input_hdp
      then:
        - remote_transmitter.transmit_raw:
            # Input HDP
            code: [263,-789,263,-1841,263,-789,263,-789,263,-789,263,-789,263,-1841,263,-789,263,-1841,263,-789,263,-789,263,-1841,263,-1841,263,-789,263,-789,263,-43572,263,-789,263,-1841,263,-789,263,-789,263,-789,263,-1841,263,-789,263,-1841,263,-789,263,-1841,263,-1841,263,-789,263,-789,263,-1841,263,-1841,263,-43572]
            carrier_frequency: ${carrier}

    - service: input_dvr
      then:
        - remote_transmitter.transmit_raw:
            # Input DVR
            code: [263,-789,263,-1841,263,-789,263,-789,263,-789,263,-789,263,-1841,263,-1841,263,-1841,263,-789,263,-789,263,-1841,263,-1841,263,-789,263,-789,263,-43572,263,-789,263,-1841,263,-789,263,-789,263,-789,263,-1841,263,-789,263,-789,263,-789,263,-1841,263,-1841,263,-789,263,-789,263,-1841,263,-1841,263,-43572]
            carrier_frequency: ${carrier}

    - service: input_3_5mm
      then:
        - remote_transmitter.transmit_raw:
            # Input CD (3.5mm plug)
            code: [263,-789,263,-1841,263,-789,263,-789,263,-789,263,-789,263,-789,263,-1841,263,-789,263,-789,263,-789,263,-1841,263,-1841,263,-789,263,-789,263,-43572,263,-789,263,-1841,263,-789,263,-789,263,-789,263,-1841,263,-1841,263,-789,263,-1841,263,-1841,263,-1841,263,-789,263,-789,263,-1841,263,-1841,263,-43572]
            carrier_frequency: ${carrier}

    - service: custom_command
      variables:
        custom_code: int[]
      then:
        - remote_transmitter.transmit_raw:
            code: !lambda 'return custom_code;'
            carrier_frequency: ${carrier}

# From Home Assistant
# service: esphome.living_room_speakers_custom_command
# data:
#   custom_code: [3459,-1729,432,-432,432,-432,432,-1297,432,-432,432,-1297,432,-432,432,-1297,432,-432,432,-432,432,-1297,432,-432,432,-432,432,-1297,432,-1297,432,-432,432,-432,432,-432,432,-432,432,-432,432,-432,432,-432,432,-432,432,-1297,432,-432,432,-1297,432,-432,432,-432,432,-432,432,-1297,432,-1297,432,-1297,432,-1297,432,-1297,432,-432,432,-1297,432,-1297,432,-432,432,-1297,432,-432,432,-432,432,-432,432,-432,432,-1297,432,-1297,432,-1297,432,-432,432,-432,432,-1297,432,-74736]

