substitutions:
  name: power_plug_1
  friendly_name: "Power Plug 1"
  # Higher value gives lower watt readout
  current_res: "0.00221"
  # Lower value gives lower voltage readout
  voltage_div: "955"
  
esphome:
  name: ${name}

esp8266:
  board: esp01_1m

# Common settings to all my devices
wifi:
  reboot_timeout: 0s # default is 15m
  ssid: "SSID"
  password: !secret wifi_password

# logger:
#   level: DEBUG

api:
  reboot_timeout: 0s # default is 15m
  encryption:
    key: !secret encryption_key

ota:
  platform: esphome
  password: esphome_recovery

text_sensor:
  - platform: wifi_info
    ip_address:
      name: "${friendly_name} IP Address"

sensor:
  # Power measuring sensor
  - platform: hlw8012
    sel_pin:
      number: GPIO12
      inverted: True
    cf_pin: GPIO5
    cf1_pin: GPIO14
    current:
      name: "${friendly_name} Current"
      id: current
      filters:
        - sliding_window_moving_average:
            window_size: 5
            send_every: 1
    power:
      name: "${friendly_name} Power"
      id: power
      filters:
        # Some calibration
        - multiply: 0.4545
        - sliding_window_moving_average:
            window_size: 5
            send_every: 1
    voltage:
      #name: "${friendly_name} Voltage"
      id: voltage
    current_resistor: 0.001  # default 0.001
    voltage_divider: 910     # default 2351
    change_mode_every: 3     # default 8
    update_interval: 1s      # default 60s

  # Sum power readings over the day
  - platform: total_daily_energy
    name: "${friendly_name} Total Daily Energy"
    power_id: power
    filters:
      - multiply: 0.001   # convert Wh to kWh
    unit_of_measurement: kWh

# Enable getting local time for total daily energy calculation
time:
  - platform: homeassistant
    id: homeassistant_time

status_led:
  pin:
    number: GPIO0 # Red LED
    inverted: True

output:
  - platform: esp8266_pwm
    id: blue_led_output
    pin:
      number: GPIO2
      inverted: True

light:
  - platform: monochromatic
    name: ${friendly_name} Blue LED
    output: blue_led_output
    id: blue_led
    default_transition_length: 1ms # default 1s
    internal: True

binary_sensor:
  - platform: gpio
    pin: GPIO13
    id: button
    on_press:
      - switch.toggle: relay
    internal: True

switch:
  - platform: gpio
    pin: GPIO4
    id: relay

  - platform: template
    # https://esphome.io/components/switch/template.html
    name: ${friendly_name}
    id: relay_template
    lambda: |-
      if (id(relay).state) {
        return true;
      } else {
        return false;
      }
    turn_on_action:
      - light.turn_on: blue_led
      - switch.turn_on: relay
    turn_off_action:
      - light.turn_off: blue_led
      - switch.turn_off: relay

  - platform: restart
    id: restart_device
    name: "${friendly_name} Restart"