<?xml version="1.0" encoding="UTF-8"?>
<!--
~/Library/LaunchAgents/andrew.zoom_comms.plist
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>zoom-comms.job</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/osascript</string>
        <string>/usr/local/bin/zoom_comms_update.applescript</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
