SUBSYSTEM=="usbmisc", KERNEL=="hiddev*", ATTRS{product}=="ST Series", SYMLINK+="ups_monitor_950" MODE="0666"
SUBSYSTEM=="usbmisc", KERNEL=="hiddev*", ATTRS{product}=="EC650LCD", SYMLINK+="ups_monitor_650", MODE="0666"
SUBSYSTEM=="usbmisc", KERNEL=="hiddev*", ATTRS{idVendor}=="051d", ATTRS{idProduct}=="0002", SYMLINK+="ups_monitor_large", MODE="0666"
# Old plastic
SUBSYSTEM=="usb", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="2838", ATTRS{serial}=="00000101", SYMLINK+="rtl_sdr_grill", MODE="0666", RUN+="/usr/local/bin/fix_rtl_docker.sh" 
# New metal
SUBSYSTEM=="usb", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="2838", ATTRS{serial}=="00000001", SYMLINK+="rtl_sdr_rain", MODE="0666", RUN+="/usr/local/bin/fix_rtl_docker.sh"
# CC2531 
SUBSYSTEM=="tty", ATTRS{idVendor}=="0451", ATTRS{idProduct}=="16a8", SYMLINK+="zigbee", MODE="0666"
# Sonoff USB
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="sonoff_zigbee", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0658", ATTRS{idProduct}=="0200", SYMLINK+="zwave"
