SUBSYSTEM=="tty", ATTRS{idVendor}=="0658", ATTRS{idProduct}=="0200", SYMLINK+="zwave"
ATTRS{idVendor}=="0764", ATTRS{idProduct}=="0501", SYMLINK+="ups_monitor", RUN+="/usr/bin/docker start pwr_stat"
